/* line 2, ../sass/main.scss */
.table-responsive {
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
/* line 8, ../sass/main.scss */
.table-responsive caption {
  background-color: #eee;
  padding: 1px 5px;
}
/* line 12, ../sass/main.scss */
.table-responsive thead {
  background-color: #000;
  color: white;
}

/* line 18, ../sass/main.scss */
.tableresponsive {
  height: 244px;
  overflow-y: scroll;
  position: relative;
}

/* line 24, ../sass/main.scss */
.grid-dir {
  position: relative;
}

/* line 27, ../sass/main.scss */
.grid-dir table {
  margin-bottom: 0;
}

/* line 30, ../sass/main.scss */
.grid-dir .table > tbody > tr > td {
  white-space: normal;
}

/* line 33, ../sass/main.scss */
.grid-dir .table > tbody > tr > td:first-child, .grid-dir .table > thead > tr > th {
  white-space: nowrap;
}

/* line 36, ../sass/main.scss */
.toprow, .leftrow {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}

/* line 42, ../sass/main.scss */
.toprow {
  right: 0;
  height: 33px;
  overflow: hidden;
}

/* line 47, ../sass/main.scss */
.leftrow, .leftrow th, .leftrow td {
  width: 133px;
}

/* line 50, ../sass/main.scss */
.leftrow {
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 4px 0 4px -4px rgba(55, 55, 55, 0.5);
}

/* line 57, ../sass/main.scss */
.toprow table, .leftrow tbody {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 62, ../sass/main.scss */
.leftrow table {
  table-layout: fixed;
}

/* line 65, ../sass/main.scss */
.leftrow tbody {
  top: 31px;
}

/* line 68, ../sass/main.scss */
.leftrow thead {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

/*.*/
/* line 76, ../sass/main.scss */
.gridStyle {
  height: 300px;
}

/* line 79, ../sass/main.scss */
.green {
  background-color: green;
  color: white;
}

/* line 83, ../sass/main.scss */
.selected .green {
  background-color: darkgreen;
  color: white;
}

/* line 87, ../sass/main.scss */
.pink {
  background-color: pink;
  color: red;
}

/* line 92, ../sass/main.scss */
.selected .pink {
  background-color: hotpink;
  color: white;
}

/*.*/
/* line 100, ../sass/main.scss */
.expandergrid td:first-child {
  width: 150px;
}
