<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/myRoute">myroute</a></li>
  </ul>
  <h3 class="text-muted">yo grid directive</h3>
</div>
<hr>
<div class="row well">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>
</div>

<div class="footer well">
footer &copy; 2014
</div>
