<h4>grid with expand</h4>
<div class="table-responsive expandergrid">
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
      <th ng-repeat="hdr in tabular[0]">hdr <span class="glyphicon glyphicon-chevron-down"></span></th>
      </tr>
    </thead>
    <tbody ng-repeat="tr in tabular">
      <tr>
        <td ng-repeat="td in tr">{{td}} <button type="button" ng-show="$index == (tr.length - 1)" ng-click="select($parent.$index)">more...</button></td>
      </tr>
      <tr ng-show="selected == $index">
        <td colspan="{{tr.length}}">
        <button class="btn btn-xs btn-info">info</button>
        <hr>
        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <td ng-repeat="td in tr">{{td}}</td>
          </tr>
        </table>
        <hr>
        <div class="well">...</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
